/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-no-important */
/**
 * WP Admin Color Scheme: StoreBuilder 3.0
 */

body {
	color: #2a3353;
	background: #fff;
}

/* Links */
a {
	color: #303f9f;
}

a:hover,
a:active,
a:focus {
	color: #3d50c5;
}

#post-body .misc-pub-post-status::before,
#post-body #visibility::before,
.curtime #timestamp::before,
#post-body .misc-pub-revisions::before,
span.wp-media-buttons-icon::before {
	color: currentColor;
}

/* Forms */
input[type="checkbox"]:checked::before {
	content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23303f9f%27%2F%3E%3C%2Fsvg%3E");
}

input[type="radio"]:checked::before {
	background: #303f9f;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active,
.wp-core-ui input[type="reset"]:focus,
.wp-core-ui input[type="reset"]:active {
	color: #3d50c5;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
	border-color: #192039;
	box-shadow: 0 0 0 1px #192039;
}

/* Core UI */
.wp-core-ui .button,
.wp-core-ui .button-secondary {
	color: #2a3353;
	border-color: #2a3353;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
	color: #212942;
	border-color: #212942;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
	color: #212942;
	border-color: #2a3353;
	box-shadow: 0 0 0 1px #2a3353;
}

.wp-core-ui .button:active {
	background: #212942;
	border-color: #212942;
}

.wp-core-ui .button.active,
.wp-core-ui .button.active:focus,
.wp-core-ui .button.active:hover {
	color: #212942;
	border-color: #212942;
	box-shadow: inset 0 2px 5px -3px #212942;
}

.wp-core-ui .button-primary {
	color: #fff;
	background: #2a3353;
	border-color: #2a3353;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
	color: #fff;
	background: #2f395d;
	border-color: #252d49;
}

.wp-core-ui .button-primary:focus {
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px #2a3353;
}

.wp-core-ui .button-primary:active {
	color: #fff;
	background: #212942;
	border-color: #212942;
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover {
	color: #fff;
	background: #2a3353;
	border-color: #101420;
	box-shadow: inset 0 2px 5px -3px #000;
}

.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary.button-primary-disabled,
.wp-core-ui .button-primary.disabled {
	color: #c7c9d1 !important;
	text-shadow: none !important;
	background: #1c2238 !important;
	border-color: #1c2238 !important;
}

.wp-core-ui .button-group > .button.active {
	border-color: #2a3353;
}

.wp-core-ui .wp-ui-primary {
	color: #fff;
	background-color: #2a3353;
}

.wp-core-ui .wp-ui-text-primary {
	color: #2a3353;
}

.wp-core-ui .wp-ui-highlight {
	color: #fff;
	background-color: #192039;
}

.wp-core-ui .wp-ui-text-highlight {
	color: #192039;
}

.wp-core-ui .wp-ui-notification {
	color: #fff;
	background-color: #192039;
}

.wp-core-ui .wp-ui-text-notification {
	color: #192039;
}

.wp-core-ui .wp-ui-text-icon {
	color: #f1f2f3;
}

/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.wrap .add-new-h2:focus,
.wrap .page-title-action:focus {
	color: #fff;
	background-color: #2a3353;
}

.view-switch a.current::before {
	color: #2a3353;
}

.view-switch a:hover::before,
.view-switch a:focus::before {
	color: #192039;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
	background: #2a3353;
}

#adminmenu a {
	color: #fff;
}

#adminmenu div.wp-menu-image::before {
	color: #f1f2f3;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	color: #fff;
	background-color: #192039;
}

#adminmenu li.menu-top:hover div.wp-menu-image::before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image::before,
#adminmenu li.menu-top:focus div.wp-menu-image::before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image::before {
	color: #fff;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover,
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:focus {
	background-color: #fff;
	border-bottom-color: #fff;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
	background: #1e243b;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover::after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:focus::after {
	border-right-color: #1e243b;
}

#adminmenu .wp-submenu .wp-submenu-head {
	color: #bfc2cb;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
	color: #bfc2cb;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
	/* color: #192039; */
	/* color: #bfc2cb; */
	color: #fff;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
	color: #fff;
}

#adminmenu .wp-submenu li.current a:hover,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
	/* color: #192039; */
	color: #fff;
}

ul#adminmenu a.wp-has-current-submenu::after,
ul#adminmenu > li.current > a.current::after {
	border-right-color: #fff;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
	color: #fff;
	background: #192039;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image::before,
#adminmenu a.current:hover div.wp-menu-image::before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image::before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image::before,
#adminmenu li:hover div.wp-menu-image::before,
#adminmenu li a:focus div.wp-menu-image::before,
#adminmenu li.opensub div.wp-menu-image::before,
.ie8 #adminmenu li.opensub div.wp-menu-image::before {
	color: #fff;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
	color: #fff;
	background: #192039;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins,
#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:focus a .awaiting-mod,
#adminmenu li.menu-top:focus > a .update-plugins {
	color: #fff;
	background: #1e243b;
}

/* Admin Menu: collapse button */
#collapse-button {
	color: #f1f2f3;
}

#collapse-button:hover,
#collapse-button:focus {
	/* color: #192039; */
	color: #fff;
}

/* @todo: Inquire about this style override - its originally part of simple-admin-menu-toggle.css  */
li.nx-simple-admin-menu-toggle button:hover,
li.nx-simple-admin-menu-toggle button:focus {
	color: #fff;
}

/* Admin Bar */
#wpadminbar {
	color: #fff;
	background: #2a3353;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
	color: #fff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon::before,
#wpadminbar .ab-item::before,
#wpadminbar .ab-item::after {
	color: #f1f2f3;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	/* color: #192039; */
	color: #fff;
	background: #1e243b;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
	/* color: #192039; */
	color: #fff;
}

#wpadminbar:not(.mobile) li:hover .ab-icon::before,
#wpadminbar:not(.mobile) li:hover .ab-item::before,
#wpadminbar:not(.mobile) li:hover .ab-item::after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch::before,
#wpadminbar:not(.mobile) li:focus .ab-icon::before,
#wpadminbar:not(.mobile) li:focus .ab-item::before,
#wpadminbar:not(.mobile) li:focus .ab-item::after,
#wpadminbar:not(.mobile) li:focus #adminbarsearch::before {
	color: #fff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
	background: #1e243b;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: #3c4565;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a,
#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:focus ul li a {
	color: #bfc2cb;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item::before {
	color: #f1f2f3;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon::before,
#wpadminbar li:hover .ab-item::before,
#wpadminbar li a:focus .ab-icon::before,
#wpadminbar li .ab-item:focus::before,
#wpadminbar li .ab-item:focus .ab-icon::before,
#wpadminbar li.hover .ab-icon::before,
#wpadminbar li.hover .ab-item::before,
#wpadminbar li:hover #adminbarsearch::before,
#wpadminbar li #adminbarsearch.adminbar-focused::before {
	/* color: #192039; */
	color: #fff;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover::before,
#wpadminbar.mobile .quicklinks .ab-icon::before,
#wpadminbar.mobile .quicklinks .ab-item::before {
	/* color: #192039; */
	color: #fff;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon::before,
#wpadminbar.mobile .quicklinks .hover .ab-item::before {
	color: #f1f2f3;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch::before {
	color: #f1f2f3;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	color: #fff;
	background: #36426b;
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
	color: #fff;
	background-color: #192039;
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
	color: #fff;
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
	color: #fff;
	background-color: #171d33;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
	background-color: #36426b;
	border-color: #36426b;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
	/* color: #fff; */
	color: #bfc2cb;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name,
#wpadminbar #wp-admin-bar-user-info a:focus .display-name {
	/* color: #192039; */
	color: #fff;
}

#wpadminbar #wp-admin-bar-user-info .username {
	color: #bfc2cb;
}

/* @todo: Inquire about this style override - its originally part of admin-bar.css   */
body.mapps-wp-lt-57 #wp-admin-bar-nexcess-mapps .button {
	color: #bfc2cb;
}

/* @todo: Inquire about this style override - its originally part of admin-bar.css   */
body.mapps-wp-lt-57 #wp-admin-bar-nexcess-mapps .button:hover,
body.mapps-wp-lt-57 #wp-admin-bar-nexcess-mapps .button:focus,
body.mapps-wp-lt-57 #wp-admin-bar-nexcess-mapps .button:active {
	color: #fff;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
	background-color: #192039;
	border-color: #111627;
}

.wp-pointer .wp-pointer-content h3::before {
	color: #192039;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
	border-bottom-color: #192039;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
	background-color: #192039;
}

.details.attachment {
	box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #192039;
}

.attachment.details .check {
	background-color: #192039;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #192039;
}

.media-selection .attachment.selection.details .thumbnail {
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px #192039;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover::after,
.theme-browser .theme.add-new-theme a:focus::after {
	background: #192039;
}

.theme-browser .theme.add-new-theme a:hover span::after,
.theme-browser .theme.add-new-theme a:focus span::after {
	color: #192039;
}

.theme-section.current,
.theme-filter.current {
	border-bottom-color: #2a3353;
}

body.more-filters-opened .more-filters {
	color: #fff;
	background-color: #2a3353;
}

body.more-filters-opened .more-filters::before {
	color: #fff;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
	color: #fff;
	background-color: #192039;
}

body.more-filters-opened .more-filters:hover::before,
body.more-filters-opened .more-filters:focus::before {
	color: #fff;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
	color: #fff;
	background-color: #192039;
}

.widgets-chooser li.widgets-chooser-selected::before,
.widgets-chooser li.widgets-chooser-selected:focus::before {
	color: #fff;
}

/* Responsive Component */
div#wp-responsive-toggle a::before {
	color: #f1f2f3;
}

.wp-responsive-open div#wp-responsive-toggle a {
	background: #192039;
	border-color: transparent;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
	background: #1e243b;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon::before {
	color: #f1f2f3;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
	background: #192039;
}
